body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial;
}

/* Header vsebuje logotip + iskanje */
#header {
    height: 3em;
    width: 100%;
    background: rgba(114, 125, 132, 0.15); /* color of the header */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 2;
    position: absolute;
}

/* Logotip in naslov levo */
#logo-container {
    display: flex;
    align-items: center;
}

#logo-container .logo {
    height: 2.5em;
    margin-right: 25px;
}

#logo-container .title {
    font-size: 1.5em;
    color: black;
    font-family: Lato, sans-serif;
    font-weight: 500;
}

/* Iskanje desno */
#search-container {
    display: flex;
    align-items: right;
}

#search-container input {
    padding: 5px;
    font-size: 1em;
    margin-right: 10px;
}

#search-container button {
    padding: 5px 10px;
    font-size: 1em;
}

/* Viewer začne pod headerjem */
#preview {
    position: absolute;
    top: 3em;
    bottom: 0;
    width: 100%;
}

/* Ko je Full Screen vklopljen, zagotovimo, da UI ostane viden */
.fullscreen-overlay {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    z-index: 9999 !important;
    background: rgba(0, 0, 0, 0.7); /* Temnejše ozadje za boljšo vidljivost */
}

/* Povečamo topbar, da je bolj uporaben v Full Screen načinu */
.fullscreen-overlay #topbar {
    height: 4em;
    font-size: 1.2em;
    padding: 0 30px;
}

/* Povečamo iskalno polje v Full Screen načinu */
.fullscreen-overlay #filter {
    width: 250px;
    font-size: 1.2em;
    padding: 5px;
}

/* Gumb Live Search naj bo večji v Full Screen načinu */
.fullscreen-overlay #toggle-live-search {
    font-size: 1.2em;
    padding: 8px 20px;
}
